.root {
  margin: 30px;
}
.paper {
  padding: 10px;
  width: 400px;
}

.chooseFile {
  margin-left: 30px;
  height: 10px;
}

.post {
  background: #ffc06e;
  align-self: right;
  border-radius: 0;
  padding-top: 20px;
  font-size: 10;
}

.description {
  height: 100px;
  width: 400px;
  align-self: top;
  background: #fafafa;
  margin-right: 10px;
  margin-top: 5px;
  text-align: top;
  padding: 10px;
}

.quantity {
  height: 40px;
  width: 400px;
  align-self: top;
  background: #fafafa;
  margin-right: 10px;
  margin-top: 5px;
  padding: 10px;
}

.title {
  height: 40px;
  width: 400px;
  background: #fafafa;
  margin-top: 5px;
  padding: 10px;
}

.fileLabel {
  margin-left: 22px;
  margin-top: 10px;
  font-size: 13;
  background: #fafafa;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 50px;
  color: grey;
}
