.root {
  margin: 30px;
}
.paper {
  padding: 10px;
  width: 400px;
}

.chooseFile {
  margin-left: 30px;
  height: 10px;
}

.post {
  height: 25px;
  width: 50px;
  background: #f0efef;
  align-self: right;
  border-radius: 3px;
  font-size: 10;
  border-width: 2px;
  border-color: rgb(199, 199, 199);
  border-style: solid;
}

.post:hover {
  background: #e6e6e6;
}

.post:focus {
  background: #d8d8d8;
  border-color: rgb(226, 226, 226);
}

.input,
.input-description {
  border-width: 0px;
  border-radius: 5px;
  width: 91vh;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 5px;
}

.input-description {
  height: 10vh;
}

.fileLabel {
  margin-left: 22px;
  margin-top: 10px;
  font-size: 13;
  background: #fafafa;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 50px;
  color: grey;
}
