.mainPanel {
  background: #f0f0f0;
  height: 1000px;
}

.logo {
  top: 12;
  left: 30;
}

.homeButton {
  position: absolute;
  right: 50px;
  top: 18px;
  color: black;
  border: 2px solid orange;
  background: #f7f7f7;
}

.buttonCall {
  background: orange;
  border-radius: 5px;
  border-width: 0px;
  height: 25px;
  width: 65px;
}

.buttonCall:hover {
  opacity: 60%;
}
