.main {
  margin-top: 15px;
}

.logo {
  margin-left: 30px;
}

.iconButtons {
  margin-left: 780px;
}

.mainButtons {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
}

.offerButton {
  padding: 30px;
  color: orange;
  background: orange;
  background-color: orange;
}
